.customization-setting {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #1717171a;
}

.customization-setting .wrapper-radio {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  background-color: rgb(250, 250, 250);
  padding: 16px;
  border: 1px solid #efefef;
  cursor: pointer;
  border-radius: 6px;
}

.customization-setting .wrapper-radio:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 0 4px rgb(245, 245, 245);
}
