.profile-header {
  background-color: white;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #1717171a;
}

.profile-header__top {
  position: relative;
  height: 76px;
}

.profile-header button {
  position: absolute;
  top: 20px;
  right: 15px;
}

.profile-header__top img {
  border: solid 8px #3063b0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.profile-header__details {
  text-align: center;
  padding-bottom: 30px;
}

.profile-header__details .author-name {
  font-weight: 700;
  margin-top: 16px;
}

.profile-header__details .author-bio {
  display: block;
  font-size: 18px;
  margin-bottom: 14px;
}

.profile-header__details .author-date {
  display: block;
  color: #717171;
}
