.sidebar__card {
  padding: 16px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 0 1px rgb(23 23 23 / 5%);
  border-radius: 8px;
}

.sidebar__card .item {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.sidebar__card .item .anticon {
  font-size: 20px;
  color: rgb(64, 64, 64);
}

.sidebar__card .item .ant-typography {
  font-size: 16px;
  color: rgb(64, 64, 64);
}
