.main-nav .link {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: rgb(64, 64, 64);
  border-radius: 6px;
  padding: 8px 16px;
}

.main-nav .link:hover {
  color: rgb(47, 58, 178);
  background-color: rgba(59, 73, 223, 0.1);
  text-decoration: underline;
}

.main-nav .link span {
  margin-left: -8px;
  margin-right: 8px;
}

.secondary-nav ul {
  display: flex;
  gap: 16px;
}
.secondary-nav ul li a.item-current {
  color: rgb(9, 9, 9);
  font-weight: 700;
  background: none;
}

.secondary-nav ul li a {
  font-size: 18px;
  color: rgb(87, 87, 87);
  padding: 8px 12px;
  border-radius: 6px;
}

.secondary-nav ul li a:hover {
  color: rgb(59, 73, 223);
  background-color: rgb(255, 255, 255);
}
