.story {
  background-color: white;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #1717171a;
}
.story__top {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}

.story__author-pic {
  border-radius: 100%;
  border: solid 1px rgb(82, 82, 82);
}

.ant-typography.story__author-name {
  margin: 0;
  font-size: 14px;
}

.story__top span {
  color: rgb(82, 82, 82);
  font-size: 14px;
}

.ant-typography.story__title {
  margin: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.25;
  margin-bottom: 4px;
}

.story__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.story__tags span {
  color: rgb(64, 64, 64);
}

.story__tags span {
  display: inline-block;
  padding: 4px 7px;
  border-radius: 3px;
}
.story__tags span:hover {
  cursor: pointer;
  background-color: #f7df1e1a;
  box-shadow: inset 0 0 0 2px #f7df1e1a, inset 0 0 0 2px #f7df1e1a,
    inset 0 0 0 2px #f7df1e1a;
}

.story__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story__details {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.story__details span {
  color: rgb(61, 61, 61);
}

.story__save {
  display: flex;
  align-items: center;

  column-gap: 8px;
}
