.tag-page .tag-header {
  background-color: rgb(255, 255, 255);
  border-top: 16px solid #7e4810;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #1717171a;
  margin-bottom: 24px;
}

.tag-page .tag-header h2.ant-typography {
  font-weight: 700;
  line-height: 45px;
  margin: 0;
}

.tag-page .tag-content {
  display: grid;
  grid-template-columns: 240px minmax(0, 1fr);
  gap: 20px;
}

.tag-page .tag-content .sidebar-left .btn-article-create {
  position: relative;
  padding: 0px 16px 16px;
  margin: 8px 0px 8px;
}

.tag-page .tag-content .sidebar-left .btn-article-create::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(82, 82, 82);
  opacity: 0.25;
}

.tag-page .tag-content .sidebar-left .sidebar-data {
  padding: 16px;
}

.tag-page .tag-content .sidebar-left .sidebar-data span.ant-typography {
  color: rgb(82, 82, 82);
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}
