.users-filter .user {
  display: grid;
  grid-template-columns: 32px minmax(0, 1fr);
  gap: 10px;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #1717171a;
}

.users-filter .user img {
  border-radius: 100%;
}

.users-filter .user .user__details h4.ant-typography {
  margin: 0;
  font-weight: 700;
}

.users-filter .user .user__details span {
  color: rgb(113, 113, 113);
}
