.readinglist .readinglist__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readinglist .readinglist__body {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 12px;
}
.readinglist .readinglist__sidebar ul {
  margin: 0px;
}
.readinglist .readinglist__sidebar a.link {
  color: rgb(64, 64, 64);
  padding: 8px;
  display: block;
  border-radius: 6px;
}

.readinglist
  .readinglist__sidebar
  a.link:hover:not(.readinglist__sidebar a.link--current) {
  color: rgb(47, 58, 178);
  background-color: rgba(59, 73, 223, 0.1);
}

.readinglist .readinglist__sidebar a.link--current {
  font-weight: 500;
  color: #090909;
  background-color: rgb(255, 255, 255);
}

.reainglist__content {
  background-color: rgb(255, 255, 255);
  padding-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
}
