.navbar {
  display: flex;
  align-items: center;
  height: 56px;
  margin-bottom: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px rgb(0, 0, 0, 0.1);
}

.navbar .inner-navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .inner-navbar-wrapper .right-navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.navbar ul.ant-menu-horizontal {
  border-bottom: none;
}

@media (max-width: 768px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 769px) {
  .hide-for-desktop {
    display: none;
  }

  .flex-auto-desktop {
    flex: auto;
  }
}
