.cover .ant-upload.ant-upload-select {
  background-color: transparent !important;
  border: none !important;
  width: auto !important;
}

.cover .ant-upload.ant-upload-select > .ant-upload {
  font-size: 16px;
  font-weight: 500;
  width: auto !important;
  height: auto !important;
  margin-top: 32px;
  padding: 6px 12px;
  border: 2px solid #d6d6d7;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.title {
  min-height: 62px;
  max-height: 62px;
}

.title .ant-input {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.25;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
  box-shadow: none;
  resize: none;
  transition: none;
}

.title .ant-input::placeholder {
  color: rgb(82, 82, 82);
}

.create-post .ant-form-item {
  margin-bottom: 0px;
}

.create-post .ant-select-selector {
  padding-left: 0px;
  border: none !important;
}

.ant-select-selection-placeholder {
  color: #7575a1 !important;
  font-size: 16px !important;
}

.ant-select-selection-placeholder {
  left: 0px !important;
}

.ant-select-selection-search {
  margin-left: 0px !important;
}
