.menu-text-editor .ant-menu-item-selected::after {
  border: none !important;
}

.menu-text-editor .ant-menu-item:hover::after {
  border: none !important;
}

.menu-text-editor .ant-menu-item::after {
  border: none !important;
}

code {
  color: white;
  background: #08090a;
  word-wrap: break-word;
  box-decoration-break: clone;
  border-radius: 0.2rem;
  padding: 8px;
  display: inline;
}

.text-editor .ql-toolbar.ql-snow {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
  padding-left: 48px;
  padding-right: 48px;
  border-left: none;
  border-right: none;
  margin-bottom: 24px;
}

.text-editor .ql-container.ql-snow {
  font-size: 16px;
  z-index: 10;
  padding-right: 48px;
  padding-left: 48px;
  border: none !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-editor .ql-container.ql-snow .ql-editor {
  padding: 0px;
}

.text-editor .ql-editor.ql-blank::before {
  left: 48px;
  font-style: normal;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-editor .ql-editor.ql-blank {
  padding: 0px;
}
